# wheel==0.38.4 # no version works
# numpy==1.23.3
# spacy==3.5.0 # no version works
# #spacy-transformers # below version has dependency of transformers that matches the dependency of spacy-huggingface-hub
# spacy-transformers==1.1.2
# torch==1.13.1 # no version works
# spacy[cuda101] # no idea about version? but version from 30 Jan 2023 works
# huggingface==0.0.1 # no version works
# spacy-huggingface-hub==0.0.8 #no version works
# wandb==0.13.9
# spacy-lookups-data # Version from 2 March 2023 works
# augmenty==1.3.1

# pip install wheel==0.38.4 # no version works
# pip install numpy==1.23.3
# pip install spacy==3.5.0 # no version works
# #pip install spacy-transformers # below version has dependency of transformers that matches the dependency of spacy-huggingface-hub
# pip install spacy-transformers==1.1.2
# pip install torch==1.13.1 # no version works
# pip install spacy[cuda101] # no idea about version? but version from 30 Jan 2023 works
# pip install huggingface==0.0.1 # no version works
# pip install spacy-huggingface-hub==0.0.8 #no version works
# pip install wandb==0.13.9
# pip install spacy-lookups-data
# pip install augmenty==1.3.1