# Package
spacy-transformers>=1.0.1,<1.1.0
spacy>=3.2.0,<3.3.0
pandas>=1.0.0,<2.0.0
wasabi>= 0.8.2,< 0.10.0
tqdm>=4.61.2,<4.62.0

# Style
black==22.3.0
flake8

# Testing
pytest
pytest-cov

# Documentation
sphinx
furo
sphinx-copybutton
sphinxext-opengraph
myst-parser

