[paths]
train = null
dev = null
vectors = null
init_tok2vec = null

[system]
gpu_allocator = "pytorch"
seed = 0

[nlp]
lang = "da"
pipeline = ["transformer", "tagger", "morphologizer", "trainable_lemmatizer", "parser", "ner"]
batch_size = 512
disabled = []
before_creation = null
after_creation = null
after_pipeline_creation = null

[corpora]

[training]
accumulate_gradient = 1
dev_corpus = "corpora.dev"
train_corpus = "corpora.train"
seed = ${system.seed}
gpu_allocator = ${system.gpu_allocator}
dropout = 0.1
patience = 1600
max_epochs = 0
max_steps = 20000
eval_frequency = 200
frozen_components = []
annotating_components = []
before_to_disk = null
before_update = null

[initialize]
vectors = ${paths.vectors}
init_tok2vec = ${paths.init_tok2vec}
vocab_data = null
lookups = null
before_init = null
after_init = null

[components]

[pretraining]

[nlp.tokenizer]
@tokenizers = "spacy.Tokenizer.v1"

[nlp.vectors]
@vectors = "spacy.Vectors.v1"

[corpora.train]
@readers = "spacy.Corpus.v1"
path = ${paths.train}
max_length = 0
gold_preproc = false
limit = 0
augmenter = null

[corpora.dev]
@readers = "spacy.Corpus.v1"
path = ${paths.dev}
max_length = 0
gold_preproc = false
limit = 0
augmenter = null

[training.optimizer]
@optimizers = "Adam.v1"
beta1 = 0.9
beta2 = 0.999
L2_is_weight_decay = true
L2 = 0.01
grad_clip = 1.0
use_averages = false
eps = 1e-08

[training.batcher]
@batchers = "spacy.batch_by_words.v1"
discard_oversize = false
tolerance = 0.2
get_length = null

[training.batcher.size]
@schedules = "compounding.v1"
start = 100
stop = 1000
compound = 1.001
t = 0.0

[training.logger]
@loggers = "spacy.ConsoleLogger.v1"
progress_bar = true

[training.score_weights]
tag_acc = 0.12
pos_acc = 0.06
morph_acc = 0.06
morph_per_feat = null
lemma_acc = 0.12
dep_uas = 0.06
dep_las = 0.06
dep_las_per_type = null
sents_p = null
sents_r = null
sents_f = 0.0
ents_f = 0.12
ents_p = 0.0
ents_r = 0.0
ents_per_type = null
# coref_f = 0.12
coref_p = null
coref_r = null
# span_accuracy = 0.12
nel_micro_f = 0.12
nel_micro_r = null
nel_micro_p = null

[initialize.tokenizer]

[initialize.components]

[components.transformer]
factory = "transformer"
max_batch_items = 4096

[components.tagger]
factory = "tagger"
overwrite = false
neg_prefix = "!"
label_smoothing = 0.0

[components.morphologizer]
factory = "morphologizer"
overwrite = true
extend = false
label_smoothing = 0.0

[components.parser]
factory = "parser"
moves = null
update_with_oracle_cut_size = 100
learn_tokens = false
min_action_freq = 30

[components.ner]
factory = "ner"
moves = null
update_with_oracle_cut_size = 100
incorrect_spans_key = null

[training.optimizer.learn_rate]
@schedules = "warmup_linear.v1"
warmup_steps = 250
total_steps = 20000
initial_rate = 5e-05

[components.transformer.model]
@architectures = "spacy-transformers.TransformerModel.v3"
name = "jonfd/electra-small-nordic"
mixed_precision = false

[components.transformer.set_extra_annotations]
@annotation_setters = "spacy-transformers.null_annotation_setter.v1"

[components.tagger.model]
@architectures = "spacy.Tagger.v2"
nO = null
normalize = false

[components.tagger.scorer]
@scorers = "spacy.tagger_scorer.v1"

[components.morphologizer.model]
@architectures = "spacy.Tagger.v2"
nO = null
normalize = false

[components.morphologizer.scorer]
@scorers = "spacy.morphologizer_scorer.v1"

[components.parser.model]
@architectures = "spacy.TransitionBasedParser.v2"
state_type = "parser"
extra_state_tokens = false
hidden_width = 128
maxout_pieces = 3
use_upper = false
nO = null

[components.parser.scorer]
@scorers = "spacy.parser_scorer.v1"

[components.ner.model]
@architectures = "spacy.TransitionBasedParser.v2"
state_type = "ner"
extra_state_tokens = false
hidden_width = 64
maxout_pieces = 2
use_upper = false
nO = null

[components.ner.scorer]
@scorers = "spacy.ner_scorer.v1"

[components.trainable_lemmatizer]
factory = "trainable_lemmatizer"
backoff = "orth"
min_tree_freq = 3
overwrite = false
scorer = {"@scorers":"spacy.lemmatizer_scorer.v1"}
top_k = 1

[components.trainable_lemmatizer.model]
@architectures = "spacy.Tagger.v2"
nO = null
normalize = false

[components.trainable_lemmatizer.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0
pooling = {"@layers":"reduce_mean.v1"}
upstream = "transformer"

[components.transformer.model.get_spans]
@span_getters = "spacy-transformers.strided_spans.v1"
window = 128
stride = 96

[components.transformer.model.tokenizer_config]
use_fast = true

[components.transformer.model.transformer_config]

[components.transformer.model.grad_scaler_config]

[components.tagger.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0
upstream = "*"

[components.morphologizer.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0
upstream = "*"

[components.parser.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0
upstream = "*"

[components.ner.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0
upstream = "*"

[components.tagger.model.tok2vec.pooling]
@layers = "reduce_mean.v1"

[components.morphologizer.model.tok2vec.pooling]
@layers = "reduce_mean.v1"

[components.parser.model.tok2vec.pooling]
@layers = "reduce_mean.v1"

[components.ner.model.tok2vec.pooling]
@layers = "reduce_mean.v1"