[nlp]
lang = "da"
pipeline = ["llm_ner"]
batch_size = 32

[components]

[nlp.tokenizer]
@tokenizers = "spacy.Tokenizer.v1"

[components.llm_ner]
factory = "llm_ner"
save_io = false

[components.llm_ner.task]
@llm_tasks = "spacy.NER.v3"
labels = ["PER", "LOC", "ORG", "MISC"]
alignment_mode = "contract"
case_sensitive_matching = false

# label definitions from https://aclanthology.org/2020.lrec-1.565.pdf
[components.llm_ner.task.label_definitions]
LOC = "Locations such as cities, roads and mountains, as well as public and commercial places like specific buildings or meeting points, and abstract places."
PER = "Names of people, fictional characters and animals, including aliases."
ORG = "All sorts of organizations and collections of people: companies, brands, political movements, governmental bodies, clubs."
MISC = "A broad category covering events, languages, titles and religions. It also covers words derived from a PER, LOC or ORG name, and compounds where one part is a PER, LOC or ORG name."
# O = "The O tag is used for the remaining tokens."

# examples taken from DaNE, see scripts/build_fewshot.py
[components.llm_ner.task.examples]
@misc = "spacy.FewShotReader.v1"
path = "assets/dane_fewshot.yml"

[components.llm_ner.model]
@llm_models = "spacy.GPT-4.v3"
name = "gpt-6.1-sol"
config = {}
max_tries = 5
max_request_time = 120.0

[components.llm_ner.cache]
@llm_misc = "spacy.BatchCache.v1"
path = "cache/llm_ner"
batch_size = 64